# Excluye directorios locales que no se necesitan en el contexto de la compilación
node_modules
dist
.git
.gitignore
.dockerignore
cloudbuild.yaml
docker-compose-frontend.yml
dockerLocal.ts
eslint.config.js
vite.config.*